extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p 
      | Welcome to my portfolio site...this is where I'm at on my journey, this is what I'm doing, and this is only the beginning of what I hope to accomplish.  
      | Let's connect!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name

